.cover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 110;
  transition: 0.5s ease;
}
.show-cover {
  opacity: 0.75;
  visibility: visible;
}
