*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style: none;
}
ul {
  padding-left: 0;
}
a {
  text-decoration: none;
  @include fontStyle(1.5rem, 1.6666, normal, $white-color, 700);
}

img {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $body-bg;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  // overflow-x: hidden;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;

  @include responsive(desktop) {
    overflow-x: hidden;
  }
  @include responsive(tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media screen and (max-width: 570px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
